@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Raleway&display=swap');

// color theme
$black: #303030;
$red: #CF3A69;
$orange: #FF9B61;
$yellow: #EDCD7E;
$green: #56827F;



header {
  background-color: $black;
  text-align: left;
  padding: auto;
  display: flex;
  justify-content: space-between;
  font-family: 'Megrim', sans-serif;
  font-weight: 1000;
  font-size: 2em;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100vw;
  
  height: 7vh;
  z-index: 1;
  filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.6));

  a {
    color: $orange;
    transition: color 0.3s ease;

    &:hover {
      color: darken($orange, 15%)
    }
  }
  @media screen and (max-height: 750px){
  height: 9vh;
  font-size: 5vh;
  }
  
  

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 1vh;

  li {
    list-style-type: none;
  }


  }
}

#header-logo {
  height: 40px;
  transition: opacity 0.3s ease;
  padding: 0;
  margin: 0;

  &:hover {
    background-color: $black;
    opacity: 0.7;
    }
  @media screen and (max-height: 750px){
    height: 7vh;
    } 
  }
